            
<div id="gameWrapper">
    <div id="score" class="gamePong" style="display: none; font-size: 2rem; text-align: center;"> 0 - 0 </div>
    <div id="gameScoreBalls" class="displayNone">
        <div id="leftPlayerRounds" class="playerRounds">
                <div class="roundCircle" id="leftRound1"> </div>
                <div class="roundCircle" id="leftRound2"></div>
                <div class="roundCircle" id="leftRound3"></div>
            </div>
            <div id="rightPlayerRounds" class="playerRounds">
                <div class="roundCircle" id="rightRound1"></div>
                <div class="roundCircle" id="rightRound2"></div>
                <div class="roundCircle" id="rightRound3"></div>
            </div>
    </div>
    <div id="gameContainer" class="gamePong" style="display: none;" tabindex="0"></div>
    <div id="countdown" class="gamePong"></div>
    <div style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;">
        <button class="btn btn-primary btn-custom endButtons" style="display: none; width: 20vw; height: 5vh; font-size: 1vh;" id="playAgain">Play again.</button>
        <button class="btn btn-primary btn-custom endButtons" style="display: none; width: 20vw; height: 5vh; font-size: 1vh;" onclick="gameOver()">Home.</button>
    </div>
</div>

<div class="container gameContainerWrap gameSelectionButtons">
    <nav class="navbar navbar-light custom-navbar">
        <div class="container-fluid">
            <div class="navbar-buttons">
                <a class="btn custom-nav-btn" href="#">Local</a>
                <a class="btn custom-nav-btn" href="#">Multiplayer</a>
                <a class="btn custom-nav-btn" href="#">Tournament</a>
            </div>
        </div>
    </nav>
    
    <div class="button-row">
        <button class="btn btn-custom" onclick="startGame('1vsIA')">1 vs IA</button>
        <button class="btn btn-custom" onclick="startGame('1vs1')">1 vs 1</button>
    </div>
</div>

