            
<div id="gameWrapper">
    <div id="score" class="gamePong" style="display: none; font-size: 2rem; text-align: center;"> 0 - 0 </div>
    <div id="gameScoreBalls" class="displayNone">
        <div id="leftPlayerRounds" class="playerRounds">
                <div class="roundCircle" id="leftRound1"> </div>
                <div class="roundCircle" id="leftRound2"></div>
                <div class="roundCircle" id="leftRound3"></div>
            </div>
            <div id="rightPlayerRounds" class="playerRounds">
                <div class="roundCircle" id="rightRound1"></div>
                <div class="roundCircle" id="rightRound2"></div>
                <div class="roundCircle" id="rightRound3"></div>
            </div>
    </div>
    <div id="gameContainer" class="gamePong" style="display: none;" tabindex="0"></div>
    <div id="countdown" class="gamePong"></div>
    <div>
        <button class="btn btn-primary btn-custom endButtons" style="display: none;" onclick="startGame('1vs1')">Play again.</button>
        <button class="btn btn-primary btn-custom endButtons" style="display: none;" onclick="gameOver()">Home.</button>
    </div>
</div>

<div class="container gameContainerWrap">
    <button class="btn btn-primary btn-custom gameSelectionButtons">1 vs IA</button>
    <button class="btn btn-primary btn-custom gameSelectionButtons" onclick="startGame('1vs1')">1 vs 1</button>
</div>