<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong game</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="{% static 'js/game/pong.js' %}"></script>
    <script src="{% static 'js/game/gameKeys.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/login/login.js' %}"></script>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Pong.</a>
        <div class="collapse navbar-collapse"></div>
        <a class="navbar-brand" href="#" id="pictureButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{picture}}" alt="Foto de perfil">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="pictureButton" >
            <li><a class="dropdown-item" href="#" onclick="logout()">Logout.</a></li>
        </div>
    </nav>
    <hr class="navbar-divider">
    <div id="placeholder"></div>
</body>
</html>
