<!DOCTYPE html>
<html>
    <head> 
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load static %}
    </head>
    <body>
        <script src="{% static 'js/button.js' %}"></script>
        <script src="{% static 'js/pong.js' %}"></script>
        <h1>PATATA</h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active
              <img src="{{ picture }}" width="42" height="42" class="d-inline-block align-top" alt="">
              Bootstrap
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
        </ul>
         
    </body>
</html>