<!DOCTYPE html>
<html>
    <head>
        <title>Pong Login</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load static %}
        {% csrf_token %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">

    </head>
        
        <body>
            <script src="{% static 'js/login/login.js' %}"></script>
            <script src="{% static 'js/login/button.js' %}"></script>
            <script src="{% static 'js/utils.js' %}"></script>
            <div id="placeholder"></div>
        </body>
        
</html>
