#gameContainer {
    width: 90%;
    max-width: 1200rem; /* Cambiado de rem a px */
    aspect-ratio: 3 / 1;
    background-color: #FFF;
    border: 2px solid #111;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-sizing: border-box;
    position: relative;
}

.gamePlayer {
    width: 1%; /* 1% de la anchura del contenedor = PLAYER_WIDTH_X (3 px en un contenedor de 300 px de ancho) */
    height: 15%; /* 15% de la altura del contenedor = PLAYER_HEIGHT_Y (15 px en un contenedor de 100 px de alto) */
    background-color: #000;
    position: absolute;
}

#gameBall {
    width: 2.3%; /* 2.3% de la anchura del contenedor para que coincida con el diámetro de la bola */
    aspect-ratio: 1 / 1; /* Proporción de aspecto para mantener la bola circular */
    background-color: #000;
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%; /* La bola debe ser completamente redonda */
}
