.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-left: 25vw;
}

.navbar #pictureButton {
    display: inline-block;
    padding: 0;
    margin-right: 25vw;
}

.navbar #pictureButton img {
    width: 5.5rem;
    height: 5.5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    display: block;
}


.dropdown-menu {
    width: auto;
    height: auto;
    padding: 0;       
    min-width: auto;  
    min-height: auto; 
    margin-right: 25vw;
}

.navbar-divider {
    color: black;
    border-top: 1px solid black;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
}

.custom-navbar {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0; 
}

.custom-nav-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    flex-basis: 50%;
    flex-grow: 1; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin: 0;
    min-width: 0;
    box-sizing: border-box;
}

.custom-nav-btn:hover {
    background-color: lightgray;
    color: black;
    border-color: lightgray;
    transition: background-color 0.3s, border-color 0.3s;
}

.navbar-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.button-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.btn-custom {
    width: calc(50% - 30px);
    height: 50vh;
    margin: 15px;
    border-radius: 20px;
    font-size: 2vw;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}

.btn-custom:hover {
    background-color: lightgray;
    border-color: lightgray;
}

.btn-custom:active, .btn-custom:focus {
    background-color: lightgray;
    color: black;
    border-color: lightgray;
}


@media (max-width: 768px) {
    .btn-custom {
        width: calc(70% - 30px); 
        height: 30vh;
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .btn-custom {
        width: calc(85% - 30px);
        height: 20vh;
        font-size: 5vw;
    }
}
